.fstyle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fieldWidth{
    width: 400px;
  }
  
  h2 {
    color: #b68516;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .button {
    text-align: center;
  }
  