<body class="fstyle">
    
    <form [formGroup]="regForm">
        <h2>{{title}}</h2>
        
       
            <div>
                <mat-form-field appearance="fill" class="fieldWidth">
                    <mat-label>Name</mat-label>
                    <input #box matInput formControlName="name" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" class="fieldWidth">
                    <mat-label>Age</mat-label>
                    <input #age matInput formControlName="age" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="fieldWidth">
                    <mat-label>Color</mat-label>
                    <mat-select formControlName="color" #color disableRipple required>
                      <mat-option value="Red">Red</mat-option>
                      <mat-option value="Blue">Blue</mat-option>
                      <mat-option value="Green">Green</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>


        <div class="row">
            <div class="button">
                <button [disabled]="regForm.invalid" mat-fab extended color="primary" (click)="onSubmit(box.value, age.value, color.value)" type="submit">Submit</button>
            </div>
        </div>

    </form>
</body>