<body class="container">

    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Color</th>
        </tr>
        <tr>
            <td>
                <p *ngFor="let users of customers">{{users.name}}</p>
            </td>
            <td>
                <p *ngFor="let users of customers">{{users.age}}</p>
            </td>
            <td>
                <p *ngFor="let users of customers">{{users.color}}</p>
            </td>
        </tr>
    </table>

</body>