body{
	margin-top: 80px;
	display: grid;
	place-items: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

table{
	width: 600px;
	box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
}

p{
    padding-top: 10px;
}

table, th{
	padding: 20px;
	border: 1px solid lightgray;
	border-collapse: collapse;
	text-align: center;
	cursor: pointer;
}

td{
	font-size: 15px;
}

th{
	background-color: #3f51b5;
	color: white;
}
